<a href="https://colab.research.google.com/github/doremococo/python-bootcamp/blob/main/chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# as xxxx で、エイリアスを設定できる
import pandas as pd

# 2-01 pandasでcsv を読み込み、表示させる。
df = pd.read_csv("/content/adult_income_dataset.csv")
# df ←これだけで表示ができる

In [10]:
# 2-02 dfの最初の5行目の表示と、行数、列数、データ型をそれぞれ確認

# 試しに head()を使ってみる　→ 最初の5行を取得できた
# df.head()

# 行数、列数、データ型の確認
# データ型の確認
df.dtypes

# 行と列の取得
# print(f"（行、列）：{df.shape}")

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [14]:
# 2-03 df のage列を抽出し、先頭5行を出力
# df[列名]で特定の列だけを抽出する
df["age"].head()

# 複数の列を指定したい場合は、リスト内リスト的なやつで指定する
select_columns = ["income", "race"]
df[select_columns].head()

# df の列名を、リスト(要素は全て文字列※object) で取得
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [24]:
# df [age] の値が30以上の行にfilterし、表示
# これをすると、ageの各行でboolean値が出る
df["age"] >= 30

# 試しにdfの中に先ほどのboolean値を入れてみたら出来た
df[df["age"] >= 30]

# もし「30歳以上」かつ「性別が女性（Female）」の人だけ出したいならこうする
df[(df["age"] >= 30) & (df["sex"] == "Female")]
# >> df[(df[列名]の条件式) & (df[列名]の条件式)] ← and = & , or = | です。それぞれの条件は（）で囲うこと。

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [35]:
# 2-05 dfの[age] を昇順にソートして最初の5行を表示。by= は省略可能
df.sort_values(by="age").head()

# さらに fnlwgt の条件も追加する場合
df.sort_values(by=["age", "fnlwgt"]).head()
# >> 複数条件でソートしたい場合は、リストに条件を入れて by= に渡す。

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
18593,17,Private,19752,11th,7,Never-married,Other-service,Own-child,Black,Female,0,0,25,United-States,<=50K
31959,17,Private,24090,HS-grad,9,Never-married,Exec-managerial,Own-child,White,Female,0,0,35,United-States,<=50K
21200,17,Private,25051,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
24404,17,Private,25690,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,10,United-States,<=50K
5828,17,Private,27032,10th,6,Never-married,Sales,Own-child,White,Female,0,0,12,United-States,<=50K