<a href="https://colab.research.google.com/github/doremococo/python-bootcamp/blob/main/chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
# as xxxx で、エイリアスを設定できる
import pandas as pd

# 2-01 pandasでcsv を読み込み、表示させる。
df = pd.read_csv("/content/adult_income_dataset.csv")
# df ←これだけで表示ができる
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
3272,30,Private,123178,10th,6,Never-married,Craft-repair,Not-in-family,White,Male,0,0,50,United-States,<=50K
3798,30,Private,504725,10th,6,Never-married,Sales,Other-relative,White,Male,0,0,18,Guatemala,<=50K
8132,30,Private,110239,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,55,United-States,<=50K
9035,30,State-gov,119422,10th,6,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
11544,30,NaN,156890,10th,6,Divorced,NaN,Unmarried,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31794,30,Self-emp-inc,204470,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,36,United-States,>50K
31832,30,Private,236543,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,68,United-States,<=50K
31995,30,Self-emp-inc,178383,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,70,United-States,<=50K
32232,30,Private,215441,Some-college,10,Never-married,Adm-clerical,Not-in-family,Other,Male,0,0,40,NaN,<=50K
32440,30,Self-emp-not-inc,176185,Some-college,10,Married-spouse-absent,Craft-repair,Own-child,White,Male,0,0,60,United-States,>50K

In [ ]:
# 2-02 dfの最初の5行目の表示と、行数、列数、データ型をそれぞれ確認

# 試しに head()を使ってみる　→ 最初の5行を取得できた
# df.head()

# 行数、列数、データ型の確認
# データ型の確認
df.dtypes

# 行と列の取得
# print(f"（行、列）：{df.shape}")

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [ ]:
# 2-03 df のage列を抽出し、先頭5行を出力
# df[列名]で特定の列だけを抽出する
df["age"].head()

# 複数の列を指定したい場合は、リスト内リスト的なやつで指定する
select_columns = ["income", "race"]
df[select_columns].head()

# df の列名を、リスト(要素は全て文字列※object) で取得
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [ ]:
# df [age] の値が30以上の行にfilterし、表示
# これをすると、ageの各行でboolean値が出る
df["age"] >= 30

# 試しにdfの中に先ほどのboolean値を入れてみたら出来た
df[df["age"] >= 30]

# もし「30歳以上」かつ「性別が女性（Female）」の人だけ出したいならこうする
df[(df["age"] >= 30) & (df["sex"] == "Female")]
# >> df[(df[列名]の条件式) & (df[列名]の条件式)] ← and = & , or = | です。それぞれの条件は（）で囲うこと。

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
# 2-05 dfの[age] を昇順にソートして最初の5行を表示。by= は省略可能
df.sort_values(by="age").head()

# さらに fnlwgt の条件も追加する場合
df.sort_values(by=["age", "fnlwgt"]).head()
# >> 複数条件でソートしたい場合は、リストに条件を入れて by= に渡す。

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
18593,17,Private,19752,11th,7,Never-married,Other-service,Own-child,Black,Female,0,0,25,United-States,<=50K
31959,17,Private,24090,HS-grad,9,Never-married,Exec-managerial,Own-child,White,Female,0,0,35,United-States,<=50K
21200,17,Private,25051,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
24404,17,Private,25690,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,10,United-States,<=50K
5828,17,Private,27032,10th,6,Never-married,Sales,Own-child,White,Female,0,0,12,United-States,<=50K

In [60]:
# 2-06 欠損値の扱い方。変数dfに含まれる欠損値の数
print(df.shape)
# print(df["workclass"].isnull().sum())
# print(df[df["workclass"].isnull() == False].isnull().sum())

# dropna()で null になっている行を削除し、nullの数量を確認
df_cleaned = df.dropna()
df_cleaned.isnull().sum()

(32561, 15)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [96]:
# 2-07 特定列でグループ化する
age_group = df.groupby("age")

# groupは、dataflameとは別らしい。shapeが使えない
# NG → low_group = age_group.shape

# groupしたやつの列名を指定し、平均の時はmean()をする。複数列を計算したい時は、リスト内リストで渡す
ave_cg_fnl = age_group[["capital-gain", "fnlwgt"]].mean()
print(ave_cg_fnl)

# group の特定の列の集計において、複数の条件（合計、平均、最大など）をみたい時は agg(dict形式)で渡す
agg_cg_fnl= age_group.agg({"capital-gain": ["mean", "max"] ,"fnlwgt": ["sum", "median"]})
print(agg_cg_fnl)


# 合計の時は sum()
sum_capital_gain = age_group["capital-gain"].sum()
print(sum_capital_gain)

df.groupby("age").agg({"capital-gain": ["max", "sum"], "fnlwgt": ["max", "sum"]})

     capital-gain         fnlwgt
age
17     109.691139  185722.232911
18     102.058182  193530.207273
19      92.092697  204803.543539
20      82.786189  198537.705179
21     204.625000  200116.997222
..            ...            ...
85       0.000000  126667.333333
86       0.000000  149912.000000
87       0.000000   90338.000000
88       0.000000  153975.666667
90    1935.255814  161458.604651

[73 rows x 2 columns]
    capital-gain            fnlwgt
            mean    max        sum    median
age
17    109.691139  34095   73360282  172145.0
18    102.058182  34095  106441614  174563.0
19     92.092697  34095  145820123  194150.0
20     82.786189  34095  149498892  190423.0
21    204.625000  99999  144084238  192189.0
..           ...    ...        ...       ...
85      0.000000      0     380002  115364.0
86      0.000000      0     149912  149912.0
87      0.000000      0      90338   90338.0
88      0.000000      0     461927  187097.0
90   1935.255814  20051    6942720  155981.0

[73 rows x 4 columns]
age
17     43328
18     56132
19     65570
20     62338
21    147330
       ...
85         0
86         0
87         0
88         0
90     83216
Name: capital-gain, Length: 73, dtype: int64

    capital-gain          fnlwgt
             max     sum     max        sum
age
17         34095   43328  806316   73360282
18         34095   56132  761006  106441614
19         34095   65570  860348  145820123
20         34095   62338  745817  149498892
21         99999  147330  766115  144084238
..           ...     ...     ...        ...
85             0       0  166027     380002
86             0       0  149912     149912
87             0       0   90338      90338
88             0       0  206291     461927
90         20051   83216  313986    6942720

[73 rows x 4 columns]